/*@import "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700";*/
/* You can add global styles to this file, and also import other style files */



.btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #FFFFFF;
  border-radius:0px !important;
}

.btn-green {
  background-color: #6097EF;
}

.btn-grey {
  background-color: #616161 !important;
}

.btn:hover {
  color: #FFFFFF !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


h1 {
  font-size: 4em !important;
  color: #555555;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.light-grey, .hover-light-grey:hover, .light-gray, .hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}


.masthead {
  background-attachment: fixed !important;
  color: #F5F5F5 !important;
  padding: 105px 30px 75px !important;
}


.homeImg-background {
  background-image: url(/assets/images/pattern-home.svg) !important;
  background-size: 200px 200px !important;
}

.home .btn-primary {
  background-color: #6097EF !important;
}


p {
  font-size: 20px; 
  line-height: 30px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  /*text-align: left;*/
}
