<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="title-text">Writing Code is now easy,</h1>
    <h3 class="title-text"><i>With ProgrammersTime.com</i></h3>
  </div>
</div>

<div class="row masthead unix-background" style="background-image: url('/assets/images/pattern-unix.svg')">
  <img src="/assets/images/logo-unix.svg" alt="Learn Unix Line the Hard Way - Pre-Order" class="logo" />
</div>




<div class="row margin-bottom row">
  <div class="col l6 center col-md-6 text-center" style="padding:3%">
    <h1>HTML</h1>
    <p class="xlarge text-dark-grey">Language for building web pages</p>
    <a href="/html/default.asp" class="btn btn-grey btn-lg">LEARN HTML</a>
    <a href="/tags/default.asp" class="btn btn-grey btn-lg">HTML REFERENCE</a>
  </div>
  <div class="col l6 col-md-6" style="padding:3%">
    <div class="hide-small light-grey card-2" style="padding:16px;">
      <h3>HTML Example:</h3>
      <div class="code htmlHigh notranslate border-green">
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>!DOCTYPE<span style="color:red"> html</span><span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>html<span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>title<span style="color:mediumblue">&gt;</span></span>HTML Tutorial<span style="color:brown"><span style="color:mediumblue">&lt;</span>/title<span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>body<span style="color:mediumblue">&gt;</span></span><br><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:mediumblue">&gt;</span></span>This is a heading<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>p<span style="color:mediumblue">&gt;</span></span>This is a paragraph.<span style="color:brown"><span style="color:mediumblue">&lt;</span>/p<span style="color:mediumblue">&gt;</span></span><br><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>/body<span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>/html<span style="color:mediumblue">&gt;</span></span>
      </div>
      <a href="/html/tryit.asp?filename=tryhtml_default" target="_blank" class="btn btn-green btn-md">Try it Yourself »</a>
    </div>
  </div>
</div>



<div class="row light-grey hide-medium hide-small">
  <div class="col col-md-6" style="padding-top:40px;padding:3%;">
    <h3>CSS Example:</h3>
    <div class="code cssHigh notranslate card-2 border-green" [innerHTML]="CssTemplate">
      
    </div>
    <a href="/css/tryit.asp?filename=trycss_default" target="_blank" class="btn btn-green btn-md">Try it Yourself »</a>
  </div>
  <div class="col col-md-6 center" style="padding:3%">
    <h1>CSS</h1>
    <p class="xlarge">The language for styling web pages</p>
    <a href="/css/default.asp" class="btn btn-grey btn-lg">LEARN CSS</a>
    <a href="/cssref/default.asp" class="btn btn-grey btn-lg">CSS REFERENCE</a>
  </div>
</div>
