.navbar {
  border-radius: 0px !important;
}


.navbar-inverse {
  background-color: #546389;
  border-color: #546389;
  color: #fff;
}



  .navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand {
    color: #fff;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
    background-color: transparent;
  }


  .navbar-inverse .navbar-brand:hover {
    color: #000;
    background-color: transparent;
  }

    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
      color: #000;
      background-color: transparent;
    }
