<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class='navbar-brand' [routerLink]='["/"]'>ProgrammersTime.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a>Code.</a></li>
      <li><a>Eat.</a></li>
      <li><a>Sleep,</a></li>
      <li><a>Repeat.</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Feeback</a></li>
    </ul>
  </div>
</nav>

<nav id="tag-nav" class="navbar is-dark is-hidden-touch">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a [routerLinkActive]='["link-active"]' class="navbar-item" [routerLink]='["/"]'>
        <span>#</span>home
      </a>
      <a [routerLinkActive]='["link-active"]' class="navbar-item" [routerLink]='["/html"]'>
        <span>#</span>html
      </a>
      <a [routerLinkActive]='["link-active"]' class="navbar-item" [routerLink]='["/css"]'>
        <span>#</span>css
      </a>
      <a [routerLinkActive]='["link-active"]' class="navbar-item" [routerLink]='["/javascript"]'>
        <span>#</span>javascript
      </a>
      <a [routerLinkActive]='["link-active"]' class="navbar-item" [routerLink]='["/jquery"]'>
        <span>#</span>jquery
      </a>
      <a class="navbar-item" href="/tag/node.js">
        <span>#</span>node.js
      </a>
      <a class="navbar-item" href="/tag/laravel">
        <span>#</span>laravel
      </a>
      <a class="navbar-item" href="/tag/css">
        <span>#</span>css
      </a>
      <a class="navbar-item" href="/tag/php">
        <span>#</span>php
      </a>
      <a class="navbar-item" href="/tag/editors">
        <span>#</span>editors
      </a>
      <a class="navbar-item" href="/tag/python">
        <span>#</span>python
      </a>
      <a class="navbar-item" href="/tag/api">
        <span>#</span>api
      </a>
      <a class="navbar-item" href="/tag/graphql">
        <span>#</span>graphql
      </a>
      <a class="navbar-item" href="/tag/authentication">
        <span>#</span>authentication
      </a>
    </div>
  </div>
</nav>


<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>ProgrammersTime.com</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/counter"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
